@model User

<form method ="post" asp-action ="Edit">

    <div class=" border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit User</h2>
            <hr />
        </div>

        <div class=" mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class=" text-danger"></span>
        </div>

        <div class ="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class=" form-control" />
            <span asp-validation-for="Email" class=" text-danger"></span>

        </div>

        <div class=" mb-3">
            <select asp-for="Role" class="form-select" aria-label="Select role">
                <option selected>User Roles</option>
                <option value= "ADMIN">ADMIN</option>
                <option value="USER">USER</option>
            </select>
        </div>

        <button type="submit" class=" btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="User" asp-action="Index" class="btn btn-secondary" style="width: 150px">Back to List </a>

    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}