@model Booking

@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-action="Create">

    <div class=" border p-3 mt-4" style="width : 800px">
        <div class="row pb-2">
            <h2 class="text-primary">Create New Booking</h2>
            <hr />
        </div>

        <div asp-validation-summary="All"></div>

        <div class=" mb-3">
            <select asp-for="Room" class="form-select" aria-label="Select room">
                <option selected>Select Room</option>
                <option value="Room1">Room1</option>
                <option value="Room2">Room2</option>
            </select>
        </div>

        <div class=" mb-3">
            <select asp-for="User" class="form-select" aria-label="Select User">
                <option selected>Select User</option>
                <option value="rasmi">rasmi</option>
            </select>
        </div>

        <div class=" mb-3">
            <label asp-for="Date"></label>
            <input asp-for="Date" class=" form-control" />
            <span asp-validation-for="Date" class=" text-danger"></span>
        </div>

        <div class=" mb-3">
            <label asp-for="StartTime"></label>
            <input asp-for="StartTime" class=" form-control" />
            <span asp-validation-for="StartTime" class=" text-danger"></span>
        </div>

        <div class=" mb-3">
            <label asp-for="EndTime"></label>
            <input asp-for="EndTime" class=" form-control" />
            <span asp-validation-for="EndTime" class=" text-danger"></span>
        </div>

        <div class=" mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class=" form-control" />
            <span asp-validation-for="Description" class=" text-danger"></span>
        </div>

        <button type="submit" class=" btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Booking" asp-action="Index" class=" btn btn-secondary" style="width: 150px">Back to List </a>

    </div>
</form>

